
body {
    margin: 0;
    padding: 0;
    background: #0E1013;
}


h1 {
    color: antiquewhite;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.buffer {
background: black;
}

.conteiner {
    width: 200px;
    height: 100px;
    /* padding-top: 200px; */
    /* margin: 0 auto; */
    float: right;
}

.ball {
    width: 20px;
    height: 20px;
    margin: 20px auto;
    border-radius: 50px;
    position: relative;     
    animation-name: balls;
}

/*TODO Animations*/
.b1{
    background: #d11a1a;
    animation: balls 1s infinite;
}
.b2{
background: #35ff99;
animation: balls 1.3s infinite;
}
.b3{
background: #008597;
animation: balls 1.7s infinite;
}
.b4{
background: #ffcc00;
animation: balls 1s infinite;
}
.b5{
background: #2d3443;
animation: balls 0.8s infinite;
}
.b6{
background: #ff7c35;
animation: balls 0.5s infinite;
}
.b7{
    animation: balls 1s infinite;
background: #4d407c;
}



 @keyframes balls{
    0%    { left:  2em; top:0px;}
    25%   { left:  4em; top:0px;}
    50%   { left:  0em; top:0px;}
    75%   { right: 2em; top:0px;}
    100%   { right: 4em; top:0px;}
 
 }

container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* column-gap: 2em; */
    row-gap: 2em;
}

table, th, td {
  border: 1px solid teal;
  width:450px;
  height: 1em;  
   
}

th {
width: 100%;
background: darkslateblue;
color: white;
text-transform: uppercase;    
}

td {
color: crimson;
font-weight: bold;
background: azure;
padding: 0 5px 0 5px; 
}

a {
 float:right;
}



